body{
    background-color: deepskyblue;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}




    div{
        width: 100px;
        height: 100px;
        
    }



.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.magenta{
    background-color: magenta;
}
.black{
    background-color: black;
}

.grey{
    background-color: grey;
}

@media screen and (min-width:700px  ) and (max-width:999px){
    body{
        background-color: burlywood;
    }
}

@media screen and (max-width:500px) {
    div{
       
        display: block;
    }
}


@media screen and (min-width:320px) and (max-width:480px){
    .red{
        background-color: blue;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .red{
        background-color: orange;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .red{
        background-color:yellow;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px){
    .red{
        background-color: brown;
    }
}
@media screen and (min-width:1201px) {
    .red{
        background-color: Red;
    }
}

@media (orientation:landscape) {
    body{
        background-color: pink;
    }
    
}



