body{
    background-color: deepskyblue;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


div{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.magenta{
    background-color: magenta;
}
.black{
    background-color: black;
}

.grey{
    background-color: grey;
}

@media screen and (min-width:700px  ) and (max-width:999px){
    body{
        background-color: burlywood;
    }
}

